body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F8F7EC;
}

.header {
    display: flex;
    height: 150px;
    align-items: center;
    background-color: #CBC1B1;
}

.logo {
    margin-left: 150px;
}

.navbar  {
    display: flex;
    position: absolute;
    right: 165px;
    font-weight: bold;
}

.navbar button {
    height: 55px;
    background-color: #CBC1B1;
    border-color: transparent;
    font-size: 18px;
}

.navbar button:hover {
    background-color: #7C7474;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 40px 40px 233px;
    grid-gap: 20px;
}

.form input {
    background-color: lightgray;
    border-color: transparent;
    padding: 15px;
}

.message {  
    grid-column: 1/3;
    min-height: 0;
    min-width: 0;
    padding: 15px;
    resize: none;
    background-color: lightgray;
    border-color: transparent;
}

::placeholder {
    color: black;
    text-align: top;
}

.submit {
    margin: 50px 0 150px 0;
    height: 48px;
    width: 180px;
    background-color: grey;
    color: white;
    border-color: transparent;
}

.submit:hover {
    background-color: #313131;    
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 12px;
    bottom: 0;
    background-color: #CBC1B1;
}

.footer button {
    background-color: #CBC1B1;
    border-color: transparent;
}

.footer button:hover {
    background-color: #7C7474;
    cursor: pointer;
}

@media only screen and (max-width: 391px) {
    .header {
        height: 80px;
    }

    .logo {
        height: 80px;
        width: 80px;
        margin-left: 40px;
    }

    .menu {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        right: 40px;
    }

    .navbar {
        display: none;
    }

    .form {
        grid-template-columns: 310px;
        grid-template-rows: repeat(4, 30px) 144px;
    }

    input {
        grid-column: 1/3;
    }

    h1 {
        font-size: 20px;
        margin: 69px 0 38px 0;

    }

    .submit {
        height: 25px;
        width: 120px;
        margin: 38px 0 69px 0;
    }

    .footer {
        height: 88px;
        width: 100vw;
        position: absolute;
    }
}