body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F8F7EC;
}

.main {
    height: 100vh;
    background-image: url("pictures/hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    height: 150px;
    align-items: center;
    background-color: #CBC1B1;
}

.logo {
    margin-left: 150px;
}

.menu {
    display: none;
}

.navbar  {
    display: flex;
    position: absolute;
    right: 165px;
    font-weight: bold;
}

.navbar button {
    height: 55px;
    background-color: #CBC1B1;
    border-color: transparent;
    font-size: 18px;
}

.navbar button:hover {
    background-color: #7C7474;
    cursor: pointer;
}

.box {
    position: absolute;
    height: 370px; 
    width: 650px; 
    bottom: 30px;
    right: 30px;
    text-align: center;
    color: white;
    background-color: rgba(108, 122, 137, 0.3);
}

.box p {
    margin: 30px;
    font-size: 20px;
    text-align: left;
}

.box button{
    height: 55px;
    width: 170px;
    color: white;
    background-color: #7C7474;
    border-color: transparent;
}

.box button:hover {
    background-color: #313131;
}

.bottom_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.bottom_section button {
    height: 55px;
    width: 180px;
    background-color: #7C7474;
    border-color: transparent;
    color: white;
}

.bottom_section button:hover {
    background-color: #313131;
}


.locations {
    display: flex;
    text-align: center;
    letter-spacing: 0.1em;
}

.locations>div {
    margin: 15px 20px 0 20px;
}

.locations h3 {
    font-size: 24px;
}

.locations p {
    text-align: left;
    font-size: 18px ;
    width: 350px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 12px;
    bottom: 0;
    background-color: #CBC1B1;
}

.footer button {
    background-color: #CBC1B1;
    border-color: transparent;
}

.footer button:hover {
    background-color: #7C7474;
    cursor: pointer;
}

@media only screen and (max-width: 391px) {
    .header {
        height: 80px;
    }

    .logo {
        height: 80px;
        width: 80px;
        margin-left: 40px;
    }

    .menu {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        right: 40px;
    }

    .navbar {
        display: none;
    }

    .main {
        display: flex;
        justify-content: center;
        height: auto;
        background-image: none;
    }

    .box {
        position: static;
        margin-top: 50px;
        height: 200px;
        width: 310px;
        background-color: #7C7474;
    }

    .box h1 {
        font-size: 20px;
    }

    .box p {
        margin: 10px;
        font-size: 13px;    
    }

    .box button{
        height: 25px;
        width: 120px;
        margin-top: 20px;
        background-color: #a19b98;
        color: black;
        box-shadow: 0px 5px 7px 4px rgba(0,0,0,0.3);
    }

    .bottom_section {
        margin: 20px;
    }

    .bottom_section h1 {
        font-size: 11px;
    }

    .locations {
        flex-direction: column;
    }

    .wrapper {
        margin-left: 15px;
    }

    .atlantic {
        display: flex;
    }

    .west {
        display: flex;
    }

    .east {
        display: flex;
    }

    .locations img {
        height: 115px;
        width: 115px;
    }

    .locations h3 {
        text-align: left;
        font-size: 12px;
    }

    .locations p {
        width: auto;
        font-size: 10px;
    }

    .bottom_section button {
        height: 25px;
        width: 120px;
        margin-top: 25px;
    }

    .footer {
        height: 88px;
    }
}